In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
data = pd.read_csv('Salary_Data.csv')

In [15]:
data.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [16]:
data.tail()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [17]:
X = data.drop('Salary',axis=1)
y = data['Salary']

In [18]:
X

,Age,Gender,Education Level,Job Title,Years of Experience
0,32.0,Male,Bachelor's,Software Engineer,5.0
1,28.0,Female,Master's,Data Analyst,3.0
2,45.0,Male,PhD,Senior Manager,15.0
3,36.0,Female,Bachelor's,Sales Associate,7.0
4,52.0,Male,Master's,Director,20.0
...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0
371,43.0,Male,Master's,Director of Operations,19.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0
374,44.0,Female,PhD,Senior Business Analyst,15.0

In [19]:
y

0       90000.0
1       65000.0
2      150000.0
3       60000.0
4      200000.0
         ...
370     85000.0
371    170000.0
372     40000.0
373     90000.0
374    150000.0
Name: Salary, Length: 375, dtype: float64

In [26]:
data['Age'].isnull().sum()

2

In [27]:
data['Age']=data['Age'].fillna(value=data['Age'].mean())

In [28]:
data['Age'].isnull().sum()

0

In [58]:
data['Gender'].isnull().sum()

0

In [37]:
data['Gender'] = data['Gender'].fillna(value=data['Gender'].mode)

In [60]:
unexpected_values = data['Gender'][~data['Gender'].isin([0, 1])]

In [61]:
unexpected_values

172    <bound method Series.mode of 0      1.0\n1    ...
260    <bound method Series.mode of 0      1.0\n1    ...
Name: Gender, dtype: object

In [62]:
data['Gender'] = data['Gender'].map({'Male': 1, 'Female': 0}).astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [39]:
data['Education Level'].unique()

array(["Bachelor's", "Master's", 'PhD', nan], dtype=object)

In [40]:
data['Education Level'] = data['Education Level'].map({"Bachelor's": 0,"Master's": 1,'PhD':2})

In [42]:
data['Education Level'].isnull().sum()

2

In [43]:
data['Education Level'] = data['Education Level'].fillna(value=data['Education Level'].mode)

In [44]:
data['Education Level'].isnull().sum()

0

In [45]:
data.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,1.0,0.0,Software Engineer,5.0,90000.0
1,28.0,0.0,1.0,Data Analyst,3.0,65000.0
2,45.0,1.0,2.0,Senior Manager,15.0,150000.0
3,36.0,0.0,0.0,Sales Associate,7.0,60000.0
4,52.0,1.0,1.0,Director,20.0,200000.0

In [46]:
data['Job Title'].unique()

array(['Software Engineer', 'Data Analyst', 'Senior Manager',
       'Sales Associate', 'Director', 'Marketing Analyst',
       'Product Manager', 'Sales Manager', 'Marketing Coordinator',
       'Senior Scientist', 'Software Developer', 'HR Manager',
       'Financial Analyst', 'Project Manager', 'Customer Service Rep',
       'Operations Manager', 'Marketing Manager', 'Senior Engineer',
       'Data Entry Clerk', 'Sales Director', 'Business Analyst',
       'VP of Operations', 'IT Support', 'Recruiter', 'Financial Manager',
       'Social Media Specialist', 'Software Manager', 'Junior Developer',
       'Senior Consultant', 'Product Designer', 'CEO', 'Accountant',
       'Data Scientist', 'Marketing Specialist', 'Technical Writer',
       'HR Generalist', 'Project Engineer', 'Customer Success Rep',
       'Sales Executive', 'UX Designer', 'Operations Director',
       'Network Engineer', 'Administrative Assistant',
       'Strategy Consultant', 'Copywriter', 'Account Manager',
       'Director of Marketing', 'Help Desk Analyst',
       'Customer Service Manager', 'Business Intelligence Analyst',
       'Event Coordinator', 'VP of Finance', 'Graphic Designer',
       'UX Researcher', 'Social Media Manager', 'Director of Operations',
       'Senior Data Scientist', 'Junior Accountant',
       'Digital Marketing Manager', 'IT Manager',
       'Customer Service Representative', 'Business Development Manager',
       'Senior Financial Analyst', 'Web Developer', 'Research Director',
       'Technical Support Specialist', 'Creative Director',
       'Senior Software Engineer', 'Human Resources Director',
       'Content Marketing Manager', 'Technical Recruiter',
       'Sales Representative', 'Chief Technology Officer',
       'Junior Designer', 'Financial Advisor', 'Junior Account Manager',
       'Senior Project Manager', 'Principal Scientist',
       'Supply Chain Manager', 'Senior Marketing Manager',
       'Training Specialist', 'Research Scientist',
       'Junior Software Developer', 'Public Relations Manager',
       'Operations Analyst', 'Product Marketing Manager',
       'Senior HR Manager', 'Junior Web Developer',
       'Senior Project Coordinator', 'Chief Data Officer',
       'Digital Content Producer', 'IT Support Specialist',
       'Senior Marketing Analyst', 'Customer Success Manager',
       'Senior Graphic Designer', 'Software Project Manager',
       'Supply Chain Analyst', 'Senior Business Analyst',
       'Junior Marketing Analyst', 'Office Manager', 'Principal Engineer',
       'Junior HR Generalist', 'Senior Product Manager',
       'Junior Operations Analyst', 'Senior HR Generalist',
       'Sales Operations Manager', 'Senior Software Developer',
       'Junior Web Designer', 'Senior Training Specialist',
       'Senior Research Scientist', 'Junior Sales Representative',
       'Junior Marketing Manager', 'Junior Data Analyst',
       'Senior Product Marketing Manager', 'Junior Business Analyst',
       'Senior Sales Manager', 'Junior Marketing Specialist',
       'Junior Project Manager', 'Senior Accountant', 'Director of Sales',
       'Junior Recruiter', 'Senior Business Development Manager',
       'Senior Product Designer', 'Junior Customer Support Specialist',
       'Senior IT Support Specialist', 'Junior Financial Analyst',
       'Senior Operations Manager', 'Director of Human Resources',
       'Junior Software Engineer', 'Senior Sales Representative',
       'Director of Product Management', 'Junior Copywriter',
       'Senior Marketing Coordinator', 'Senior Human Resources Manager',
       'Junior Business Development Associate', 'Senior Account Manager',
       'Senior Researcher', 'Junior HR Coordinator',
       'Director of Finance', 'Junior Marketing Coordinator', nan,
       'Junior Data Scientist', 'Senior Operations Analyst',
       'Senior Human Resources Coordinator', 'Senior UX Designer',
       'Junior Product Manager', 'Senior Marketing Specialist',
       'Senior IT Project Manager', 'Senior Quality Assurance Analyst',
       'Director of Sales and Marketing', 'Senior Account Executive',
       'Director of Business Development', 'Junior Social Media Manager',
       'Senior Human Resources Specialist', 'Senior Data Analyst',
       'Director of Human Capital', 'Junior Advertising Coordinator',
       'Junior UX Designer', 'Senior Marketing Director',
       'Senior IT Consultant', 'Senior Financial Advisor',
       'Junior Business Operations Analyst',
       'Junior Social Media Specialist',
       'Senior Product Development Manager', 'Junior Operations Manager',
       'Senior Software Architect', 'Junior Research Scientist',
       'Senior Financial Manager', 'Senior HR Specialist',
       'Senior Data Engineer', 'Junior Operations Coordinator',
       'Director of HR', 'Senior Operations Coordinator',
       'Junior Financial Advisor', 'Director of Engineering'],
      dtype=object)

In [56]:
data['Gender'] = data['Gender'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'method'

In [54]:
data['Gender'].dtype

dtype('O')

Spliting the training and testing dataset

In [47]:
X = data.drop('Salary',axis=1)

In [48]:
y = data['Salary']

In [49]:
X

,Age,Gender,Education Level,Job Title,Years of Experience
0,32.0,1.0,0.0,Software Engineer,5.0
1,28.0,0.0,1.0,Data Analyst,3.0
2,45.0,1.0,2.0,Senior Manager,15.0
3,36.0,0.0,0.0,Sales Associate,7.0
4,52.0,1.0,1.0,Director,20.0
...,...,...,...,...,...
370,35.0,0.0,0.0,Senior Marketing Analyst,8.0
371,43.0,1.0,1.0,Director of Operations,19.0
372,29.0,0.0,0.0,Junior Project Manager,2.0
373,34.0,1.0,0.0,Senior Operations Coordinator,7.0
374,44.0,0.0,2.0,Senior Business Analyst,15.0

In [50]:
y

0       90000.0
1       65000.0
2      150000.0
3       60000.0
4      200000.0
         ...
370     85000.0
371    170000.0
372     40000.0
373     90000.0
374    150000.0
Name: Salary, Length: 375, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.33,random_state=42)

In [52]:
from sklearn.svm import SVR
regressor = SVR(kernel='rbf')
regressor.fit(X_train,y_train)

TypeError: float() argument must be a string or a real number, not 'method'